header
{background-color: #333333;

    
}

h1 
{
font-size: 28px;
color: #eee;
background-color: #333333;
text-align: left;

}

body
{
background-color: #efeee7;
font-family: "Georgia";
color: "#333333";
margin: 0; 
padding: 0;
    
}